body{
    background-color: white;
    font-size: 14px;
    line-height: 1.8;
}

h3,h4{
    text-transform: uppercase;
    font-weight: 600;
}

.border-dark1{
    position: absolute;
    background-color: hsl(19, 96%, 49%);
    height: 40%;
    width: 98%;
    top:40px
}

.header{
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 20px;
}

.border-line{
    border: 2px solid hsl(19, 96%, 49%);
}
